# MSCA 32007 : Exploratory Data Analysis

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# !pip install sas7bdat

In [19]:
dataPath = '/Users/paryan414/UofC/MSCA 32007 Data Viz/Assignment_3/unix_hil/psam_h17.sas7bdat'

In [ ]:
# from sas7bdat import SAS7BDAT

In [20]:
census_df = pd.read_sas(dataPath, format = 'sas7bdat')

In [21]:
census_df.head()

,insp,RT,SERIALNO,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,NaN,b'H',b'2009000000061',b'3',b'03515',b'-0009',b'2',b'17',b'1086032',b'1085467',...,10.0,10.0,11.0,60.0,33.0,37.0,11.0,63.0,36.0,11.0
1,400.0,b'H',b'2009000000075',b'3',b'01000',b'-0009',b'2',b'17',b'1086032',b'1085467',...,2.0,8.0,13.0,11.0,6.0,9.0,5.0,7.0,9.0,14.0
2,NaN,b'H',b'2009000000108',b'3',b'03402',b'-0009',b'2',b'17',b'1086032',b'1085467',...,14.0,17.0,4.0,4.0,27.0,30.0,5.0,16.0,23.0,19.0
3,NaN,b'H',b'2009000000132',b'3',b'03510',b'-0009',b'2',b'17',b'1086032',b'1085467',...,56.0,104.0,62.0,18.0,60.0,19.0,91.0,61.0,15.0,20.0
4,NaN,b'H',b'2009000000150',b'3',b'03518',b'-0009',b'2',b'17',b'1086032',b'1085467',...,60.0,39.0,61.0,70.0,36.0,64.0,11.0,35.0,42.0,37.0

In [22]:
census_df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287799 entries, 0 to 287798
Data columns (total 205 columns):
 #    Column    Dtype
---   ------    -----
 0    insp      float64
 1    RT        object
 2    SERIALNO  object
 3    DIVISION  object
 4    PUMA00    object
 5    PUMA10    object
 6    REGION    object
 7    ST        object
 8    ADJHSG    object
 9    ADJINC    object
 10   WGTP      float64
 11   NP        float64
 12   TYPE      object
 13   ACR       object
 14   AGS       object
 15   BATH      object
 16   BDSP      float64
 17   BLD       object
 18   BUS       object
 19   CONP      float64
 20   ELEP      float64
 21   FS        object
 22   FULP      float64
 23   GASP      float64
 24   HFL       object
 25   MHP       float64
 26   MRGI      object
 27   MRGP      float64
 28   MRGT      object
 29   MRGX      object
 30   REFR      object
 31   RMSP      float64
 32   RNTM      object
 33   RNTP      float64
 34   RWAT      object
 35   RWATPR    object
 36   SINK      object
 37   SMP       float64
 38   STOV      object
 39   TEL       object
 40   TEN       object
 41   TOIL      object
 42   VACS      object
 43   VALP      float64
 44   VEH       object
 45   WATP      float64
 46   YBL       object
 47   FES       object
 48   FINCP     float64
 49   FPARC     object
 50   GRNTP     float64
 51   GRPIP     float64
 52   HHL       object
 53   HHT       object
 54   HINCP     float64
 55   HUGCL     object
 56   HUPAC     object
 57   HUPAOC    object
 58   HUPARC    object
 59   KIT       object
 60   LNGI      object
 61   MULTG     object
 62   MV        object
 63   NOC       float64
 64   NPF       float64
 65   NPP       object
 66   NR        object
 67   NRC       float64
 68   OCPIP     float64
 69   PARTNER   object
 70   PLM       object
 71   PSF       object
 72   R18       object
 73   R60       object
 74   R65       object
 75   RESMODE   object
 76   SMOCP     float64
 77   SMX       object
 78   SRNT      object
 79   SVAL      object
 80   TAXP      object
 81   WIF       object
 82   WKEXREL   object
 83   WORKSTAT  object
 84   FACRP     object
 85   FAGSP     object
 86   FBATHP    object
 87   FBDSP     object
 88   FBLDP     object
 89   FBUSP     object
 90   FCONP     object
 91   FELEP     object
 92   FFSP      object
 93   FFULP     object
 94   FGASP     object
 95   FHFLP     object
 96   FINSP     object
 97   FKITP     object
 98   FMHP      object
 99   FMRGIP    object
 100  FMRGP     object
 101  FMRGTP    object
 102  FMRGXP    object
 103  FMVP      object
 104  FPLMP     object
 105  FREFRP    object
 106  FRMSP     object
 107  FRNTMP    object
 108  FRNTP     object
 109  FRWATP    object
 110  FRWATPRP  object
 111  FSINKP    object
 112  FSMP      object
 113  FSMXHP    object
 114  FSMXSP    object
 115  FSTOVP    object
 116  FTAXP     object
 117  FTELP     object
 118  FTENP     object
 119  FTOILP    object
 120  FVACSP    object
 121  FVALP     object
 122  FVEHP     object
 123  FWATP     object
 124  FYBLP     object
 125  WGTP1     float64
 126  WGTP2     float64
 127  WGTP3     float64
 128  WGTP4     float64
 129  WGTP5     float64
 130  WGTP6     float64
 131  WGTP7     float64
 132  WGTP8     float64
 133  WGTP9     float64
 134  WGTP10    float64
 135  WGTP11    float64
 136  WGTP12    float64
 137  WGTP13    float64
 138  WGTP14    float64
 139  WGTP15    float64
 140  WGTP16    float64
 141  WGTP17    float64
 142  WGTP18    float64
 143  WGTP19    float64
 144  WGTP20    float64
 145  WGTP21    float64
 146  WGTP22    float64
 147  WGTP23    float64
 148  WGTP24    float64
 149  WGTP25    float64
 150  WGTP26    float64
 151  WGTP27    float64
 152  WGTP28    float64
 153  WGTP29    float64
 154  WGTP30    float64
 155  WGTP31    float64
 156  WGTP32    float64
 157  WGTP33    float64
 158  WGTP34    float64
 159  WGTP35    float64
 160  WGTP36    float64
 161  WGTP37    float64
 162  WGTP38    float64
 163  WGTP39    float64
 164  WGTP40    float64
 165  WGTP41    float64
 166  WGTP42    float64
 167  WGTP43    float64
 168  WGTP44    float64
 169  WGTP45    float64
 170  WGTP46    float64
 171  WGTP47    float64
 172  WGTP48    float64
 173  WGTP49    float64
 174  WGTP50    float64
 175  WGTP51    float64
 176  WGTP52    float64
 177  WGTP53    float64
 178  WGTP54    float64
 179  WGTP55    float64
 180  WGTP56    float64
 181  WGTP57    float64
 182  WGTP58    float64
 183  WGTP59    float64
 184  WGTP60    float64
 185  WGTP61    float64
 186  WGTP62    float64
 187  WGTP63    float64
 188  WGTP64    float64
 189  WGTP65    float64
 190  WGTP66    float64
 191  WGTP67    float64
 192  WGTP68    float64
 193  WGTP69    float64
 194  WGTP70    float64
 195  WGTP71    float64
 196  WGTP72    float64
 197  WGTP73    float64
 198  WGTP74    float64
 199  WGTP75    float64
 200  WGTP76    float64
 201  WGTP77    float64
 202  WGTP78    float64
 203  WGTP79    float64
 204  WGTP80    float64
dtypes: float64(104), object(101)
memory usage: 450.1+ MB

In [24]:
census_df.isna().sum()

insp        104879
RT               0
SERIALNO         0
DIVISION         0
PUMA00           0
             ...
WGTP76           0
WGTP77           0
WGTP78           0
WGTP79           0
WGTP80           0
Length: 205, dtype: int64

In [2]:
census = pd.read_csv('/Users/paryan414/UofC/MSCA 32007 Data Viz/Assignment_3/csv_hil/ss13hil.csv')

In [3]:
census.head()

,insp,RT,SERIALNO,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,NaN,H,2009000000061,3,3515,-9,2,17,1086032,1085467,...,10,10,11,60,33,37,11,63,36,11
1,400.0,H,2009000000075,3,1000,-9,2,17,1086032,1085467,...,2,8,13,11,6,9,5,7,9,14
2,NaN,H,2009000000108,3,3402,-9,2,17,1086032,1085467,...,14,17,4,4,27,30,5,16,23,19
3,NaN,H,2009000000132,3,3510,-9,2,17,1086032,1085467,...,56,104,62,18,60,19,91,61,15,20
4,NaN,H,2009000000150,3,3518,-9,2,17,1086032,1085467,...,60,39,61,70,36,64,11,35,42,37

In [25]:
census.BDSP

0         2.0
1         3.0
2         3.0
3         3.0
4         3.0
         ...
287794    NaN
287795    1.0
287796    3.0
287797    NaN
287798    1.0
Name: BDSP, Length: 287799, dtype: float64

In [5]:
# census.describe()

In [4]:
census.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287799 entries, 0 to 287798
Data columns (total 205 columns):
 #    Column    Dtype
---   ------    -----
 0    insp      float64
 1    RT        object
 2    SERIALNO  int64
 3    DIVISION  int64
 4    PUMA00    int64
 5    PUMA10    int64
 6    REGION    int64
 7    ST        int64
 8    ADJHSG    int64
 9    ADJINC    int64
 10   WGTP      int64
 11   NP        int64
 12   TYPE      int64
 13   ACR       float64
 14   AGS       float64
 15   BATH      float64
 16   BDSP      float64
 17   BLD       float64
 18   BUS       float64
 19   CONP      float64
 20   ELEP      float64
 21   FS        float64
 22   FULP      float64
 23   GASP      float64
 24   HFL       float64
 25   MHP       float64
 26   MRGI      float64
 27   MRGP      float64
 28   MRGT      float64
 29   MRGX      float64
 30   REFR      float64
 31   RMSP      float64
 32   RNTM      float64
 33   RNTP      float64
 34   RWAT      float64
 35   RWATPR    float64
 36   SINK      float64
 37   SMP       float64
 38   STOV      float64
 39   TEL       float64
 40   TEN       float64
 41   TOIL      float64
 42   VACS      float64
 43   VALP      float64
 44   VEH       float64
 45   WATP      float64
 46   YBL       float64
 47   FES       float64
 48   FINCP     float64
 49   FPARC     float64
 50   GRNTP     float64
 51   GRPIP     float64
 52   HHL       float64
 53   HHT       float64
 54   HINCP     float64
 55   HUGCL     float64
 56   HUPAC     float64
 57   HUPAOC    float64
 58   HUPARC    float64
 59   KIT       float64
 60   LNGI      float64
 61   MULTG     float64
 62   MV        float64
 63   NOC       float64
 64   NPF       float64
 65   NPP       float64
 66   NR        float64
 67   NRC       float64
 68   OCPIP     float64
 69   PARTNER   float64
 70   PLM       float64
 71   PSF       float64
 72   R18       float64
 73   R60       float64
 74   R65       float64
 75   RESMODE   float64
 76   SMOCP     float64
 77   SMX       float64
 78   SRNT      float64
 79   SVAL      float64
 80   TAXP      float64
 81   WIF       float64
 82   WKEXREL   float64
 83   WORKSTAT  float64
 84   FACRP     float64
 85   FAGSP     float64
 86   FBATHP    float64
 87   FBDSP     float64
 88   FBLDP     float64
 89   FBUSP     float64
 90   FCONP     float64
 91   FELEP     float64
 92   FFSP      int64
 93   FFULP     float64
 94   FGASP     float64
 95   FHFLP     float64
 96   FINSP     float64
 97   FKITP     float64
 98   FMHP      float64
 99   FMRGIP    float64
 100  FMRGP     float64
 101  FMRGTP    float64
 102  FMRGXP    float64
 103  FMVP      int64
 104  FPLMP     float64
 105  FREFRP    float64
 106  FRMSP     float64
 107  FRNTMP    float64
 108  FRNTP     float64
 109  FRWATP    float64
 110  FRWATPRP  float64
 111  FSINKP    float64
 112  FSMP      float64
 113  FSMXHP    float64
 114  FSMXSP    float64
 115  FSTOVP    float64
 116  FTAXP     float64
 117  FTELP     float64
 118  FTENP     float64
 119  FTOILP    float64
 120  FVACSP    float64
 121  FVALP     float64
 122  FVEHP     float64
 123  FWATP     float64
 124  FYBLP     float64
 125  WGTP1     int64
 126  WGTP2     int64
 127  WGTP3     int64
 128  WGTP4     int64
 129  WGTP5     int64
 130  WGTP6     int64
 131  WGTP7     int64
 132  WGTP8     int64
 133  WGTP9     int64
 134  WGTP10    int64
 135  WGTP11    int64
 136  WGTP12    int64
 137  WGTP13    int64
 138  WGTP14    int64
 139  WGTP15    int64
 140  WGTP16    int64
 141  WGTP17    int64
 142  WGTP18    int64
 143  WGTP19    int64
 144  WGTP20    int64
 145  WGTP21    int64
 146  WGTP22    int64
 147  WGTP23    int64
 148  WGTP24    int64
 149  WGTP25    int64
 150  WGTP26    int64
 151  WGTP27    int64
 152  WGTP28    int64
 153  WGTP29    int64
 154  WGTP30    int64
 155  WGTP31    int64
 156  WGTP32    int64
 157  WGTP33    int64
 158  WGTP34    int64
 159  WGTP35    int64
 160  WGTP36    int64
 161  WGTP37    int64
 162  WGTP38    int64
 163  WGTP39    int64
 164  WGTP40    int64
 165  WGTP41    int64
 166  WGTP42    int64
 167  WGTP43    int64
 168  WGTP44    int64
 169  WGTP45    int64
 170  WGTP46    int64
 171  WGTP47    int64
 172  WGTP48    int64
 173  WGTP49    int64
 174  WGTP50    int64
 175  WGTP51    int64
 176  WGTP52    int64
 177  WGTP53    int64
 178  WGTP54    int64
 179  WGTP55    int64
 180  WGTP56    int64
 181  WGTP57    int64
 182  WGTP58    int64
 183  WGTP59    int64
 184  WGTP60    int64
 185  WGTP61    int64
 186  WGTP62    int64
 187  WGTP63    int64
 188  WGTP64    int64
 189  WGTP65    int64
 190  WGTP66    int64
 191  WGTP67    int64
 192  WGTP68    int64
 193  WGTP69    int64
 194  WGTP70    int64
 195  WGTP71    int64
 196  WGTP72    int64
 197  WGTP73    int64
 198  WGTP74    int64
 199  WGTP75    int64
 200  WGTP76    int64
 201  WGTP77    int64
 202  WGTP78    int64
 203  WGTP79    int64
 204  WGTP80    int64
dtypes: float64(111), int64(93), object(1)
memory usage: 450.1+ MB

In [14]:
# census['WKHP']

In [6]:
census.dtypes

insp        float64
RT           object
SERIALNO      int64
DIVISION      int64
PUMA00        int64
             ...
WGTP76        int64
WGTP77        int64
WGTP78        int64
WGTP79        int64
WGTP80        int64
Length: 205, dtype: object

In [15]:
census2 = census[['BDSP','ELEP','FULP','GASP','MRGP','RMSP','RNTP','SMP','VALP','VEH','FINCP','HINCP','TAXP',
                  'ST']].copy()

In [16]:
census2.head()

,BDSP,ELEP,FULP,GASP,MRGP,RMSP,RNTP,SMP,VALP,VEH,FINCP,HINCP,TAXP,ST
0,2.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
1,3.0,200.0,2.0,3.0,300.0,5.0,NaN,NaN,65000.0,1.0,NaN,13000.0,11.0,17
2,3.0,80.0,2.0,120.0,NaN,6.0,1800.0,NaN,NaN,1.0,80000.0,80000.0,NaN,17
3,3.0,1.0,2.0,20.0,NaN,7.0,500.0,NaN,NaN,2.0,72700.0,72700.0,NaN,17
4,3.0,200.0,2.0,200.0,NaN,5.0,380.0,NaN,NaN,1.0,4400.0,4400.0,NaN,17

In [28]:
census2.ELEP.isna().sum()

39184

In [29]:
census2.ST.value_counts() # all from Illinois

17    287799
Name: ST, dtype: int64

In [17]:
census2.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287799 entries, 0 to 287798
Data columns (total 14 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   BDSP    264712 non-null  float64
 1   ELEP    248615 non-null  float64
 2   FULP    248615 non-null  float64
 3   GASP    248615 non-null  float64
 4   MRGP    116825 non-null  float64
 5   RMSP    264712 non-null  float64
 6   RNTP    65341 non-null   float64
 7   SMP     25316 non-null   float64
 8   VALP    185881 non-null  float64
 9   VEH     248615 non-null  float64
 10  FINCP   165452 non-null  float64
 11  HINCP   248615 non-null  float64
 12  TAXP    182920 non-null  float64
 13  ST      287799 non-null  int64
dtypes: float64(13), int64(1)
memory usage: 30.7 MB

In [1]:
census2.BDSP.value_counts(normalize = True)

NameError: name 'census2' is not defined